Drought.go
F2003_NEG
F2003_POS
FCC_NEG
FCC_POS
HLFcombined.R
HPLS_NEG
HPLS_POS
LPHS_NEG
LPHS_POS
LPLS_NEG
LPLS_POS
Merge
Merged_count
counts
counts2
unMerge
unMerge_count
PSField.R
DESeq2.R
!QoRTs/*/DESeq.txt

# output pictures
*.png

# vim files
*.swp
*.swo

# output data files
*.xlsx
*.tab
*.out
*.csv

# Except this file which is required for PCA
# Really you don't need this just have a
# data frame once you've adjusted the transcript lengths
!FPKMS_LengthAdjusted2.tab

# log files
*.log

# R data
*.RData
*.Rhistory
yuk_shan_pca.R

# test files
*test*

# weird shit
.directory

# large files
*.gz

# lncRNA predictions
names*
